@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Background & Neutrals */
  --Very-dark-blue: hsl(226, 43%, 10%);
}

body {
  color: white;
  font-size: 18px;
  background-color: var(--Very-dark-blue);
}